body {
    margin: 0px; /* Elimina el margen predeterminado */
    padding: 0px; /* Elimina el padding predeterminado */
    font-family: "Open Sans", sans-serif; /* Aplica la fuente Open Sans */
  }



